<div class=" containeri">
    
    <form action="/movie/add" method="POST" class="formularioss">
    <h2 class="title">Añadir <span>Trailer</span></h2>
  <div class="contact">
  <div class="cont1">
    <label for="movie" class="details">Titulo</label>
    <input type="text" name="titulo" placeholder="Titulo" class="form-control rounded-1  text-white"/>
  </div>

  <div class="cont1">
    <label for="año" class="details">Año</label>
    <input type="text" name="ano" placeholder="año" class="form-control rounded-1  text-white"/>
  </div>

  <div class="cont1">
    <label for="director" class="details">Director</label>
    <input type="text" name="director" placeholder="Director" class="form-control rounded-1  text-white"/>
  </div>

  <div class="cont1 ">
    <label for="actores" class="details">Actores</label>
    <input type="text" name="actores" placeholder="Actores" class="form-control rounded-1  text-white"/>
  </div>

    <div class="cont1">
    <label for="imagen" class="details">Imagen</label>
    <input type="text" name="imagen" placeholder="Imagen" class="form-control rounded-1  text-white"/>
  </div>

  <div class="cont1">
    <label for="link" class="details">Link</label>
    <input type="text" name="link" placeholder="Link" class="form-control rounded-1  text-white"/>
  </div>

  <div class="cont1" reseña>
    <label for="reseña" class="details">Reseña</label>
    <textarea
      name="resena"
      id=""
      cols="73"
      rows="5"
      placeholder="reseña"class="form-control rounded-1  text-white"
    ></textarea>
  </div>

  <button class="btn btn-primary btn-sm mt-2">Agregar</button>
  </div>
</form>
</div>