<div class="about">
    <h1 class="h1">Desarrollado por:</h1>
    <div class="miembros">
        <h1>Franklin Omar Disla Del Orbe</h1>
        <h1>Gregorio Alejandro Caba González</h1>
        <h1>Darlin de la nieve</h1>
        <h1>Jesús Nolasco</h1>
    </div>
</div>